
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family: 'Outfit', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
    background-color: #EFEFEF;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover , .link:hover{
    color: black !important;
    text-decoration: none;
}
.link-btn,.link-btn:hover{
    color: #fff !important;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
    background-color: #E9E9E9;
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.w-80{
    width: 80%;
}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.link{
    font-size: 15px !important;
}
/* home section */
.img-slider{
    height: 350px;
}
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators [data-bs-target]{
    background-color: black;
    width: 10px;
    height: 5px;
    border-radius: 45%;
}
.loading{
    z-index: 99999;
    display: flex;
}
/* home section */
/* cart section */
.cart{
    height: 100px;
}
.cart-img img{
    height: 90px;
    object-fit: contain;
}
/* cart section */
.deliveries-btn button{
    width: 20%;
}
#modalContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.28);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
#modalBox{
    background-color: #EFEFEF;
    width: 50%;
    height: 500px;
}
.fa-circle-xmark{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
#modalBox i{
    cursor: pointer;
    color: goldenrod;
}
.like:hover{
    color: #DC3545 !important;
}
.categorie-img{
    height: 200px;
}
.smallImg{
    height: 200px;
}